{% set logo = "images/logo-proximo2.png" %}

<!DOCTYPE html>
<html lang="{{ locale }}">
    <head>
        <meta charset="utf-8" />
        <title>PROXIMO - Gerenciamento Atendimento.</title>
        <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/login.css') }}" />
    </head>
    <body class="bg-dark">
        <div class="container">
            <form id="login-form" action="{{ path('login_check') }}" method="post" class="form-signin">
            
                <h2 id="logo" class="form-signin-heading">
                    <img class="img-logo" alt="Novo SGA" src="{{ asset(logo) }}">
                </h2>
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <div id="login">
                    <input type="text" name="_username" class="form-control my-1" placeholder="{{ 'label.username'|trans }}" autofocus value="{{ last_username }}">
                    <input type="password" name="_password" class="form-control my-1 mb-4" placeholder="{{ 'label.password'|trans }}">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'login.button.submit'|trans }}</button>
                </div>
            </form>
        </div>
    </body>
</html>